@using Microsoft.SharePoint.Client.Taxonomy
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome @ViewBag.UserName!</h2>
    <p class="lead"><b>SharePoint Add-ins - </b>Embracing web standards, the new cloud add-in model gives you maximum choice and flexibility to build a new class of SharePoint Add-ins using familiar languages, tools, and hosting services.</p>
    <p><a href="https://dev.office.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
@foreach (TaxonomyFieldValue val in ViewBag.Items)
{
    <div>@val.Label</div>
}
