
@{
    ViewBag.Title = "Index";
}

<h2>Add a list</h2>

<form method="post">

    Add a list: <input type="text" name="NewListTitle" value="" /><input type="submit" name="submit" value="Add List" />

</form>

<div style="color:green">@ViewBag.Message</div>

