img 
{
    width:40px;
    display:block;
    cursor: pointer;
}

img:hover
{
    background-color: #cfcfcf;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
}

select 
{
        width:200px;
        height: 300px;
}

#buttonbox
{
 height: 300px;
 padding-top: 90px;
 margin: 0 5px 0 5px;
}

#buttonbox, select
{
    float:left;
}