
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    <input type="hidden" name="custactionType" value="Create" />
    <input type="submit" name="createcustomaction" value="Create Custom Action" />
</form>

<form method="post">
    <input type="hidden" name="custactionType" value="Remove" />

    <input type="submit" name="Deletecustomaction" value="Delete Custom Action" />
</form>
