@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$black: #000;

#ShowListsContainer
{
    padding:1px;
    background-color: rgb(170, 170, 170);

  .listLink
  {
      color:$black;
  }

}


