
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">

    <div>School Name</div>

    <input type="text" name="Name" />
    <input type="number" name="Income" step="any" />
  


    <button type="submit">Add School</button>

</form>
