<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clientid" value="138b88bb-e4dc-44b1-8dfa-6bfe4d3146b9"/>
    <add key="clientsecret" value="DWcyEuDO0TUyartpenLSNoos9G9+BlQBQM/gKn8lqLs="/>

  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=davidstrorage;AccountKey=3pj3JlJ5F3uG2+ms2XVvwmhG8DDhWiwJucAzNjmM8ijt5KtmeRcxISqXpZRzACHot2kHQ3lxX5kvyeTluZtV/g==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=davidstrorage;AccountKey=3pj3JlJ5F3uG2+ms2XVvwmhG8DDhWiwJucAzNjmM8ijt5KtmeRcxISqXpZRzACHot2kHQ3lxX5kvyeTluZtV/g==;EndpointSuffix=core.windows.net" />
  
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>