body{
    background-color: rgb(225, 224, 231);
}
/* ///////////////////// */
/* Index page start */
/* ///////////////////// */
#indexpage nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#indexpage nav li {
    float: left;
}

#indexpage nav li a {
   
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#indexpage nav li a:hover {
    background-color: #111;
}

#indexpage main
{
    width:70%;
    float:left;
     
}

#maincontainer
{
    margin:0 10px 10px 0;
   
}

.article
{
    background-color: #d5d5d5;
   
    padding:5px 0 5px 5px;
    margin-right: 5px;
}

.article h4
{
    margin:0;
}

aside{
    width:30%;
    float:left;
   
}

footer {
   
    width: 100%;
    text-align: center;
    font-size:10px;
    font-style: italic;
}
#mountainfigure
{
    margin:10px;
}

#mountainfigure img{
    max-width: 100%;
}
#newscontainer article
{
    float:left;
    width: 33.3333%
}


/* ///////////////////// */
/* Index page end */
/* ///////////////////// */

#aboutpage #topbar > div
{
    float:left;
}




#aboutpage #logo
{
    width: 130px;
}

#titleandnav
{
    margin-left:20px;
}

#pagetitle
{
    font-weight: bold;
    font-family: fantasy;
    font-size: 20px;
    line-height: 40px;
    color: #494949;
}

#aboutpage nav
{
    line-height: 40px;
}

#aboutpage nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

#aboutpage nav li {
    float: left;
}

#aboutpage nav li a {
   
    display: block;
    color: #494949;
    text-align: center;
   padding-right:10px;
    text-decoration: none;
    font-size:18px;
}

#aboutpage nav li a:hover {
    color: #000;
    text-decoration: underline;
  
}

.box33
{
    float:left;
    width: 33.3333%;
    
   
}


.box66
{
    float:left;
    width: 66.66666%;
    
   
}

.box33 > div, .box66 > div
{
    margin:10px;
    background-color: #fff;
    min-height: 100px;
}




.cf::after {
    content: "";
    clear: both;
    display: table;
}