body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.schoolbox{
    padding:30px;
    float:left;
    border: 1px solid grey;
    margin:10px;
    cursor:pointer;

}

.schoolbox:hover
{
    background-color:#dddddd;
}

.addlink, #SchoolDetails h4{
    display: inline;
}
.addlink img {
    height: 30px;
}


